<div class="col-lg-3 col-md-6 footer-links">
	<h4>Нашите услуги</h4>
	<ul>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Тренировки</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Сауна</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Парна баня</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Басейн</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Здравни консултации</a></li>
	</ul>
</div>
