@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li><a class="dropdown-item" href="#">Обща информация</a></li>
		<li><a class="dropdown-item lighter" href="#">Плащания</a></li>
		<li><a class="dropdown-item lighter" href="#">Известия</a></li>
		<li><a class="dropdown-item lighter" href="#">Моят график</a></li>
		<li><a class="dropdown-item lighter" href="#">Настройки</a></li>
		<li class="dropdown-divider"></li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
			</form>
		</li>
	}
	else
	{
		<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a></li>

		<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Влез</a></li>
	}
</ul>
