<ul>
	<li><a class="nav-link" asp-controller="Home" asp-action="Index">Healty</a></li>
	<li><a class="nav-link" asp-controller="Home" asp-action="About">За нас</a></li>
	<li><a class="nav-link" asp-controller="Home" asp-action="Services">Услуги</a></li>
	<li><a class="nav-link" asp-controller="Home" asp-action="PortfolioDetails">Портфолио</a></li>
	<li><a class="nav-link" asp-controller="Home" asp-action="Team">Колектив</a></li>
	<li class="dropdown">
		<a href="#"><span>Пакети</span> <i class="bi bi-chevron-down"></i></a>
		<ul>
			<li><a href="#">Пакет 10</a></li>
			<li><a href="#">Пакет 20</a></li>
			<li><a href="#">Пакет 30</a></li>
			<li><a href="#">Пакет 40</a></li>
			<li class="dropdown">
				<a href="#"><span>Пакети 50</span> <i class="bi bi-chevron-right"></i></a>
				<ul>
					<li><a href="#">Пакет 50 Седмица</a></li>
					<li><a href="#">Пакет 50 Месец</a></li>
					<li><a href="#">Пакет 50 Три месеца</a></li>
					<li><a href="#">Пакет 50 Шест месеца</a></li>
					<li><a href="#">Пакет 50 Година</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a class="nav-link scrollto" asp-controller="Home" asp-action="ContactDetails">Контакти</a></li>
	<li><a class="getstarted scrollto" asp-controller="Home" asp-action="Testimonials">Отзиви</a></li>
</ul>