<div class="col-lg-2 col-md-6 footer-links">
	<h4>Полезни връзки</h4>
	<ul>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Healty</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">За нас</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Услуги</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Условия на ползване</a></li>
		<li><i class="bx bx-chevron-right"></i> <a href="#">Политика за поверителност</a></li>
	</ul>
</div>
