<div class="col-lg-4 col-md-6 footer-newsletter">
	<h4>Нашият бюлетин</h4>
	<p>С абонирането за нашия бюлетин получавате безплатен едномесечен достъп до шкафче за лични вещи</p>
	<form action="" method="post">
		<input type="email" name="email"><input type="submit" value="Абонирай се">
	</form>
</div>
